*{margin: 0px;padding: 0px;list-style: none;}
body{background: #abc;}
header{width: 900px; height: 50px; 
	margin: 0 auto; text-align: center; font-size: 40px;margin-top: 10px; margin-bottom: 10px;
	}

#content{background: gray; width: 880px; height: 500px;margin: 0 auto; padding: 10px;}

#tools{width: 880px;height: 100px;background: #ccc;}
#tools li{float: left;width: 175px;height: 100px;border-right: 1px solid red;text-align: center;}

#image{text-align: left;padding: 10px;}
#image li{height: 30px;width: 100px; border: 0;}
#image li button{background: #ccc;border: 1px solid black;}
#image li button:hover{background: #ccc;border: 1px solid #fff;}

#tool,#shapes{padding:20px;}
#tool img,#shapes img{width: 20px;height: 20px;}
#tool li,#shapes li{width:40px;height:20px; border: 1px solid #000;margin-bottom: 5px;}
#tool li:hover,#shapes li:hover{width:40px;height:20px; border: 1px solid #fff;margin-bottom: 5px;}

#size{margin-left: 30px;}
#size li{width:100px;height: 18px;border: 0;}
#size li:hover{width:100px;height: 18px;border: 1px solid #fff;}

#colors{margin-left: 5px;margin-top: 10px;}
#colors li{width: 15px;height: 15px;padding: 5px; margin:0 0 5px 5px;border: 1px solid #000;}
#colors li:hover{width: 15px;height: 15px;padding: 5px; margin:0 0 5px 5px;border: 1px solid #fff;}

#red{background: red;}
#green{background: green;}
#blue{background: blue;}
#yellow{background: yellow;}
#white{background: white;}
#black{background: black;}
#pink{background: pink;}
#purple{background: purple;}
#cyan{background: cyan;}
#orange{background: orange;}


#canvas{background: #fff;margin-top: 10px;}
#canvas:hover{cursor:crosshair;}
#footer{width: 900px; height: 40px; margin: 0 auto;text-align: center;margin-top: 5px;line-height: 40px;}